<div style="margin: 10px 40px">
____________________________________________________________
<br>

<%= text %>:


<% if(_client.isUnder16)  {%>
  <%= _client.tutor.name %> - CPF <%= _client.tutor.cpf %>
<% } else { %>
  <%= _client.name %> - CPF <%= _client.cpf %>
<% } %>

</div>
