<div style="
  position: relative;
  float: left;
  width: 100%;
">
  <img style="width: 99%" src="/static/img/ausencia-laudo-iml.jpg" alt="">
  <span style="
    font-size: 12px;
    position: absolute;
    left: 1.4%;
    top: 35.8%;
  ">
    <%= client.name %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 51.0%;
    top: 35.8%;
  ">
    <%= client.cpf %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 74.3%;
    top: 35.8%;
  ">
    <%= client.accident_date %>
  </span>

  <!-- ***** -->
  <!-- Tutor -->
  <!-- ***** -->

  <% if(client.isUnder16) { %>
    <span style="
      font-size: 12px;
      position: absolute;
      left: 1.4%;
      top: 43.5%;
    ">
      <%= client.tutor.name %>
    </span>
    <span style="
      font-size: 12px;
      position: absolute;
      left: 76.3%;
      top: 43.5%;
    ">
      <%= client.tutor.cpf %>
    </span>
    <span style="
      font-size: 12px;
      position: absolute;
      left: 1.2%;
      top: 47%;
    ">
      <%= client.tutor.email %>
    </span>
    <span style="
      font-size: 12px;
      position: absolute;
      left: 76.3%;
      top: 47%;
    ">
      <%= client.tutor.phone %>
    </span>
  <% } %>

  <span style="
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 2%;
    top: 62.2%;
  ">
    X
  </span>


  <!-- **** -->
  <!-- Date -->
  <!-- **** -->
  <span style="
    font-size: 12px;
    position: absolute;
    left: 26.5%;
    top: 86.4%;
  ">
    São Paulo
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 41.9%;
    top: 86.4%;
  ">
    <%= date.day %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 49.4%;
    top: 86.4%;
  ">
    <%= date.month %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 68.4%;
    top: 86.4%;
  ">
    <%= date.year %>
  </span>

</div>
