<div style="text-align: center;">
  <img src="/static/img/logo-tvm.png" alt="" />
</div>

<h1 style="text-align: center;">Procuração 'Ad Judicia'</h1>

<p style="text-align: justify;">
<%- include('_client', {_client: _client}) -%>, pelo presente instrumento de procuração
nomeia e constitui seu procurador o <%- include('_parts', {'parts': _client.company.modules.dpvat.jud}) -%>
a quem confere amplos poderes para o foro em geral, propor
contra quem de direito as ações competentes e defendê-lo nas contrárias, seguindo
umas e outras, até final decisão, usando recursos legais c acompanhando-a,
conferindo-lhe ainda, poderes especiais para confessar, desistir, transigir, firmar
compromissos ou acordos, receber e dar quitação, podendo ainda substabelecer
esta em outrem, com ou sem reserva de poderes, dando tudo por bom, firme e
valioso Especialmente e Unicamente para propor AÇÃO DE COBRANÇA DO
SEGURO OBRIGATÓRIO DPVAT, contra qualquer Seguradora participante do
convênio DPVAT.
</p>

<br>
<br>
<br>
<p style="text-align: center;">
  <%= _client.company.location %>, <%= fullDate %>.
</p>

<div style="margin: 60px 40px 10px 40px; text-align: center">
<%- include('_signature', {parts: _client, text: 'Outorgante'}) -%>
</div>
