<div style="
  position: relative;
  float: left;
  width: 100%;
">
  <img style="width: 99%" src="/static/img/autorizacao-de-pagamento.jpg" alt="">

  <!-- ********* -->
  <!-- Main Info -->
  <!-- ********* -->
  <span style="
    font-size: 12px;
    position: absolute;
    left: 54.6%;
    top: 37.1%;
  ">
    <%= client.name %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 28.0%;
    top: 37.1%;
  ">
    <%= client.cpf %>
  </span>

  <!-- ******* -->
  <!-- Address -->
  <!-- ******* -->
  <span style="
    font-size: 12px;
    position: absolute;
    left: 1.3%;
    top: 46.6%;
  ">
    <%= client.address.street %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 60%;
    top: 46.6%;
  ">
    <%= client.address.number %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 73.8%;
    top: 46.6%;
  ">
    <%= client.address.complement %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 1.3%;
    top: 49.1%;
  ">
    <%= client.address.neighborhood %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 31.3%;
    top: 49.1%;
  ">
    <%= client.address.city %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 60%;
    top: 49.1%;
  ">
    <%= client.address.state %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 73.8%;
    top: 49.1%;
  ">
    <%= client.address.zip %>
  </span>

  <!-- ******** -->
  <!-- Receiver -->
  <!-- ******** -->

  <span style="
    font-size: 12px;
    position: absolute;
    left: 1.3%;
    top: 44%;
  ">
    <% if(!client.isUnder16) { %>
      <%= client.name %>
    <% } else { %>
      <%= client.tutor.name %>
    <% } %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 52.5%;
    top: 44%;
  ">
    <% if(!client.isUnder16) { %>
      <%= client.cpf %>
    <% } else { %>
      <%= client.tutor.cpf %>
    <% } %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 73.8%;
    top: 44%;
  ">
    <% if(!client.isUnder16) { %>
      <%= client.job %>
    <% } else { %>
      <%= client.tutor.job %>
    <% } %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 73.8%;
    top: 51.8%;
  ">
    <% if(!client.isUnder16) { %>
      <%= client.phone %>
    <% } else { %>
      <%= client.tutor.phone %>
    <% } %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 1.3%;
    top: 51.8%;
  ">
    <% if(!client.isUnder16) { %>
      <%= client.email %>
    <% } else { %>
      <%= client.tutor.email %>
    <% } %>
  </span>

  <span style="
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 2.25%;
    top: 62.05%;
  ">
    X
  </span>

  <!-- ******* -->
  <!-- Banking -->
  <!-- ******* -->

  <!-- Poupança -->
  <% if(client.bank_account.type == 'poupanca') { %>
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 2.2%;
      top: 66.7%
    ">
      X
    </span>

    <!-- Brandesco -->
    <% if(client.bank_account.name == 'Bradesco') { %>
      <span style="
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        left: 3.4%;
        top: 68.3%;
      ">
        X
      </span>
    <% } %>

    <!-- Itau -->
    <% if(client.bank_account.name == 'Itaú') { %>
      <span style="
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        left: 34%;
        top: 68.3%;
      ">
        X
      </span>
    <% } %>

    <!-- Banco do Brasil -->
    <% if(client.bank_account.name == 'Banco do Brasil') { %>
      <span style="
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        left: 16.2%;
        top: 68.3%;
      ">
        X
      </span>
    <% } %>

    <!-- Caixa -->
    <% if(client.bank_account.name == 'Caixa') { %>
      <span style="
        font-size: 15px;
        font-weight: bold;
        position: absolute;
        left: 3.4%;
        top: 69.9%;
      ">
        X
      </span>
    <% } %>


    <!-- Bank Account Agency -->
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 2.3%;
      top: 73.7%;
    ">
      <%= client.bank_account.agency[0] %>
    </span>
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 18.1%;
      top: 73.7%;
    ">
      <%= client.bank_account.agency[1] %>
    </span>

    <!-- Bank Account Number -->
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 23.1%;
      top: 73.7%;
    ">
      <%= client.bank_account.number[0] %>
    </span>
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 38.7%;
      top: 73.7%;
    ">
      <%= client.bank_account.number[1] %>
    </span>


  <% } %>

  <!-- Corrente -->
  <% if(client.bank_account.type == 'corrente') { %>
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 50.4%;
      top: 66.5%;
    ">
      X 
    </span>

    <!-- Bank Name -->
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 50.6%;
      top: 69.8%;
    ">
      <%= client.bank_account.name %>
    </span>

    <!-- Bank Account Agency -->
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 50.6%;
      top: 73.7%;
    ">
      <%= client.bank_account.agency[0] %>
    </span>
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 66.4%;
      top: 73.7%;
    ">
      <%= client.bank_account.agency[1] %>
    </span>

    <!-- Bank Account Number -->
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 73%;
      top: 73.7%;
    ">
      <%= client.bank_account.number[0] %>
    </span>
    <span style="
      font-size: 15px;
      font-weight: bold;
      position: absolute;
      left: 88.5%;
      top: 73.7%;
    ">
      <%= client.bank_account.number[1] %>
    </span>

  <% } %>

  <!-- **** -->
  <!-- Date -->
  <!-- **** -->
  <span style="
    font-size: 12px;
    position: absolute;
    left: 26.5%;
    top: 86.4%;
  ">
    São Paulo
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 41.9%;
    top: 86.4%;
  ">
    <%= date.day %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 49.4%;
    top: 86.4%;
  ">
    <%= date.month %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 68.4%;
    top: 86.4%;
  ">
    <%= date.year %>
  </span>

</div>
