<div style="
  position: relative;
  float: left;
  width: 100%;
">
  <img style="width: 99%" src="/static/img/susep.jpg" alt="">
  <!-- <img
    style="
      position: absolute;
      left: 39.6%;
      top: 87.2%;
      width: 19%;
    "
    src="/static/img/assinatura-doug.png"
    alt=""
  > -->

  <!-- ********* -->
  <!-- Main Info -->
  <!-- ********* -->
  <span style="
    font-size: 12px;
    position: absolute;
    left: 13.6%;
    top: 43.2%;
  ">
    <%= rep.name %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 70.5%;
    top: 43.2%;
  ">
    <%= rep.cpf %>
  </span>

  <!-- ******* -->
  <!-- Address -->
  <!-- ******* -->

  <span style="
    font-size: 12px;
    position: absolute;
    left: 6.6%;
    top: 72%;
  ">
  <%= rep.address.street %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 70.6%;
    top: 72%;
  ">
  <%= rep.address.number %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 6.6%;
    top: 75%;
  ">
  <%= rep.address.neighborhood %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 36.6%;
    top: 75%;
  ">
  <%= rep.address.city %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 70.6%;
    top: 75%;
  ">
  <%= rep.address.state %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 80.6%;
    top: 75%;
  ">
  <%= rep.address.zip %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 6.6%;
    top: 78.5%;
  ">
  <%= rep.email %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 52.6%;
    top: 78.5%;
  ">
  <%= rep.phone %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 73.0%;
    top: 78.5%;
  ">
  
  </span>

  <!-- *********** -->
  <!-- Beneficiary -->
  <!-- *********** -->

  <span style="
    font-size: 12px;
    position: absolute;
    left: 49.3%;
    top: 45.5%;
  ">
    <% if(!_client.isUnder16) { %>
      <%= _client.name %>
    <% } else { %>
      <%= _client.tutor.name %>
    <% } %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 18.5%;
    top: 47.5%;
  ">
    <% if(!_client.isUnder16) { %>
      <%= _client.cpf %>
    <% } else { %>
      <%= _client.tutor.cpf %>
    <% } %>
  </span>

  <!-- ****** -->
  <!-- _client -->
  <!-- ****** -->

  <span style="
    font-size: 12px;
    position: absolute;
    left: 1.3%;
    top: 49.5%;
  ">
    <%= _client.name %>
  </span>

  <span style="
    font-size: 12px;
    position: absolute;
    left: 63.5%;
    top: 49.5%;
  ">
    <%= _client.cpf %>
  </span>

  <span style="
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 1.75%;
    top: 59.5%;
  ">
    X
  </span>

  <!-- **** -->
  <!-- Date -->
  <!-- **** -->
  <span style="
    font-size: 12px;
    position: absolute;
    left: 24.5%;
    top: 85.6%;
  ">
    São Paulo
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 39.9%;
    top: 85.6%;
  ">
    <%= date.day %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 46.4%;
    top: 85.6%;
  ">
    <%= date.month %>
  </span>
  <span style="
    font-size: 12px;
    position: absolute;
    left: 64.4%;
    top: 85.6%;
  ">
    <%= date.year %>
  </span>

</div>
