<html>
  <head>
    <style>
      * {
        background:transparent !important;
        color:#000 !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important;
      }
      @page {
        margin: 1cm;
        size: A4;
      }
      body {
        font-family: arial;
        margin:0;
        padding:0;
        line-height: 1.4em;
      }
      h1 {
        font-size: 20px;
      }
      h2 {
        margin: 0;
        font-size: 16px;
      }
      p {
        margin: 0  0 15px 0;
        font-size: 12pt;
      }
      .contract p {
        font-size: 9pt;
        line-height: 10pt;
        margin: 0  0 10px 0;
      }

      ._signature {
        font-size: 13px;
      }
    </style>
  </head>
  <body>
    <%- include('partials/contract', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/contract', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/form_unico', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/adm', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/jud', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/iprf', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/poverty', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/vehicle', {_client: _client, date: date})  -%>
    <div style="page-break-after: always;">&nbsp;</div>
    <%- include('partials/susep', {_client: _client, date: date, rep: _client.company.modules.dpvat.adm[0]})  -%>
    <div style="page-break-after: always;">&nbsp;</div>

    <% if(_client.products) { %>
    <% if(_client.products.fisioterapia) { %>
      <%- include('partials/fisio_contract')  -%>
      <div style="page-break-after: always;">&nbsp;</div>
      <%- include('partials/fisio_contract_2')  -%>
      <div style="page-break-after: always;">&nbsp;</div>
      <%- include('partials/fisio_note')  -%>
      <div style="page-break-after: always;">&nbsp;</div>
      <%- include('partials/fisio_optante_1')  -%>
      <div style="page-break-after: always;">&nbsp;</div>
      <%- include('partials/fisio_optante_2')  -%>
      <div style="page-break-after: always;">&nbsp;</div>
    <% } %>
    <% } %>



    </div>

  </body>
</html>
